{
  "root":true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "tsconfig.eslint.json",
    "sourceType": "module",
    "tsconfigRootDir": "frontend"
  },
  "extends": ["plugin:@typescript-eslint/recommended", "prettier", "plugin:prettier/recommended"],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "ignorePatterns": ["node_modules/"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": { "@typescript-eslint/explicit-module-boundary-types": "off" },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
