{
  "root":true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "ignorePatterns": ["node_modules/","tailwind.config.js","postcss.config.js"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": { "@typescript-eslint/explicit-module-boundary-types": "off" },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
