/backend/.gradle

# MAC
/backend/.DS_Store
/.DS_Store
.DS_Store

# vscode setting
.vscode

### IntelliJ IDEA ###\
.idea
.gradle
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr

### env files ###
/backend/.env
/frontend/.env
